.top-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  border-bottom: 1px solid #333;
  background-color: #1e1e1e;
  flex-wrap: wrap;
}

.select-group-left,
.select-group-right {
  display: flex;
  gap: 10px;
  flex: 1;
}

.top-title {
  flex: 2;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  background: linear-gradient(270deg, #bb86fc, #ffffff, #bb86fc);
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shineGradient 4s ease infinite;
}

/* кнопки навигации и сортировки */
.navbtn,
.sortbtn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #bb86fc;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  text-decoration: none;
}

.navbtn:hover,
.sortbtn:hover {
  background-color: #9f6be3;
  transform: scale(1.05);
}

/* градиент-анимация */
@keyframes shineGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
